<dom-module id="calendar-calendar">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
    #calendar table {
      margin-left: 10%;
      width: 80%;
      margin-top: 5%;
    }
    td {
      text-align: center;
      color: rgba(0,0,0,0.87);
    }
    td div {
      width:30px;
      height:30px;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      margin: auto;
      text-align: center;
      vertical-align: middle;
      line-height: 30px;
      cursor: pointer;
    }
    td div:hover {
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.1);
    }
    td div.selected {
      border-radius: 50%;
      background: #00796b;
      color: white;
    }
    th {
      color: rgba(0,0,0,0.54);
    }

    #months {
      color: rgba(0, 0, 0, 0.64);
      justify-content: space-around;
      padding: 5px;
      display: flex;
      align-items: center;
    }
    </style>

    <!-- shadow DOM for your element -->
    <div id="months">
      <paper-icon-button slot="top" icon="hardware:keyboard-arrow-left" id="decr"></paper-icon-button>
      <span id="month">Июнь</span>
      <paper-icon-button slot="top" icon="hardware:keyboard-arrow-right" id="incr"></paper-icon-button>
    </div>
    <div id="calendar"></div>
  </template>

  <script>
    var $ = require('jquery')
    var dateFormat = require("dateformat")
    // Define the element's API using an ES2015 class
    class Calendar extends Polymer.Element {

      static get is() {
        return 'calendar-calendar';
      }

      static get properties() {
        return {
          month: {
            type: Number,
            value: "Hello!"
          }
        }
      }

      showCalendar() {
        let now = new Date()
        let year = this.date.getFullYear()
        let mon = this.date.getMonth()
        let day = this.date.getDate()

        function getDay(date) { // получить номер дня недели, от 0(пн) до 6(вс)
          var day = date.getDay();
          if (day == 0) day = 7;
          return day - 1;
        }

        function getMonthName(month) {
          var months = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь","Декабрь"]
          return months[month]
        }

        var elem = this.$.calendar;

        var d = new Date(year, mon);

        var table = '<table><tr><th>П</th><th>В</th><th>С</th><th>Ч</th><th>П</th><th>С</th><th>В</th></tr><tr>';

        // заполнить первый ряд от понедельника
        // и до дня, с которого начинается месяц
        // * * * | 1  2  3  4
        for (var i = 0; i < getDay(d); i++) {
          table += '<td></td>';
        }

        // ячейки календаря с датами
        while (d.getMonth() == mon) {
          let date = d.getDate()
          table += (date==day&&mon==now.getMonth()&&year==now.getFullYear()?'<td><div class="selected">':'<td><div>') + d.getDate() + '</div></td>';

          if (getDay(d) % 7 == 6) { // вс, последний день - перевод строки
            table += '</tr><tr>';
          }

          d.setDate(d.getDate() + 1);
        }

        // добить таблицу пустыми ячейками, если нужно
        if (getDay(d) != 0) {
          for (var i = getDay(d); i < 7; i++) {
            table += '<td></td>';
          }
        }

        // закрыть таблицу
        table += '</tr></table>';

        // только одно присваивание innerHTML
        console.log(elem.innerHTML = table, table)
        window.el = elem
        elem.innerHTML = table;
        $(this.$.months).find("#month")[0].innerHTML = `${getMonthName(mon)} (${year})`
      }

      increaseMonth() {
        this.date.setMonth(this.date.getMonth()+1)
        console.log(this.date)
        this.showCalendar()
      }

      decreaseMonth() {
        this.date.setMonth(this.date.getMonth()-1)
        console.log(this.date)
        this.showCalendar()
      }

      ready() {
        super.ready()

        var now = new Date()
        this.date = now
        this.showCalendar()

        $($(this.$['months']).find("#incr")).on('click', this.increaseMonth.bind(this))
        $($(this.$['months']).find("#decr")).on('click', this.decreaseMonth.bind(this))
        console.log($(this.$['months']).find("#incr"))
      }
    }

    // Register the x-custom element with the browser
    customElements.define(Calendar.is, Calendar);
  </script>

</dom-module>
