<dom-module id="calendar-clock">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
    #watch {
      font-size: 20px;
      margin-left: 20px;
    }
    </style>

    <!-- shadow DOM for your element -->

    <div id="watch"></div>
  </template>

  <script>
  var $ = require('jquery')
  var dateFormat = require("dateformat")
    // Define the element's API using an ES2015 class
    class CalendarWatch extends Polymer.Element {

      static get is() {
        return 'calendar-clock';
      }

      digitalWatch() {
        var date = new Date();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();
        if (hours < 10) hours = "0" + hours;
        if (minutes < 10) minutes = "0" + minutes;
        if (seconds < 10) seconds = "0" + seconds;
        this.$['watch'].innerHTML = hours + ":" + minutes + ":" + seconds
        setTimeout(function() {
          this.digitalWatch()
        }.bind(this), 1000);
      }

      ready() {
        super.ready()
        this.digitalWatch.call(this)
      }
    }

    // Register the x-custom element with the browser
    customElements.define(CalendarWatch.is, CalendarWatch);
  </script>

</dom-module>
